<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth">
    <select id="findByUserId" resultType="com.hanyang.startup.hanyangstartup.auth.domain.User" parameterType="java.lang.String">
        SELECT * from users where user_id = #{userId}
    </select>

    <select id="findByIdAndType" resultType="com.hanyang.startup.hanyangstartup.auth.domain.User" parameterType="hashMap">
        SELECT * from users
        <where>
            AND user_id = #{id}
            AND type = #{type}
            <if test="password != null and password != ''">
                AND user_password = #{password}
            </if>
        </where>
    </select>

    <insert id="signUpSocialUser" parameterType="com.hanyang.startup.hanyangstartup.auth.domain.User">
        insert into users(user_id,user_password, user_email, user_name,type,role,apply_role) values(#{userId},#{userPassword}, #{userEmail},#{userName},#{type},"ROLE_USER",#{role})
    </insert>

    <update id="updateLastLogin" parameterType="com.hanyang.startup.hanyangstartup.auth.domain.User">
        UPDATE users SET last_login = current_timestamp() where user_id = #{userId}
    </update>
</mapper>
