<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

    <!--    게시판-->
    <insert id="createBoard" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig">
        insert into board_config(board_en_name, board_kr_name)
        values (#{boardEnName}, #{boardKrName})
    </insert>

    <update id="updateBoard" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig">
        UPDATE board_config
        SET board_en_name = #{boardEnName},
            board_kr_name = #{boardKrName},
            category_id   = #{categoryId},
            board_desc    = #{boardDesc}
        where board_en_name = #{boardEnName}
    </update>

    <select id="getBoard" resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig">
        select * from board_config
        <where>
            <if test="boardEnName != null and boardEnName != ''">
                AND board_en_name = #{boardEnName}
            </if>
        </where>
    </select>

    <select id="getBoardList" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig">
        <!--        SELECT *-->
        <!--        FROM-->
        <!--        (-->
        <!--        select-->
        <!--        @num:=@num+1 rownum,-->
        <!--        E.*-->
        <!--        from-->
        <!--        (SELECT @num:=0) D,-->
        <!--        (-->
        <!--        SELECT * from board_config-->
        <!--        <where>-->
        <!--            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">-->
        <!--                AND ${searchField} like '%' #{searchValue} '%'-->
        <!--            </if>-->
        <!--            <if test="startDate != null">-->
        <!--                AND <![CDATA[date(reg_date) >= #{startDate}]]>-->
        <!--            </if>-->
        <!--            <if test="endDate != null">-->
        <!--                AND <![CDATA[date(reg_date) <= #{endDate}]]>-->
        <!--            </if>-->
        <!--        </where>-->
        <!--        )  E-->
        <!--        )  Z-->
        <!--        <where>-->
        <!--            <if test="pageNo != null and pageNo !=-1 and pageNo != ''">-->
        <!--                Z.rownum between #{startRowNo} and #{endRowNo}-->
        <!--            </if>-->
        <!--        </where>-->

        SELECT ROW_NUMBER() OVER (ORDER BY a.idx) rownum, a.* from board_config as a
        <where>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null">
                AND <![CDATA[date(reg_date) >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                AND <![CDATA[date(reg_date) <= #{endDate}]]>
            </if>
        </where>
        order by a.idx desc
        <if test="pageNo != null and pageNo !=-1 and pageNo != ''">
            limit #{startRowNo}, #{pageSize}
        </if>
    </select>

    <select id="getBoardListCnt" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig"
            resultType="java.lang.Integer">
        SELECT count(*) FROM board_config
        <where>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null">
                AND <![CDATA[date(reg_date) >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                AND <![CDATA[date(reg_date) <= #{endDate}]]>
            </if>
        </where>
    </select>
    <!--    게시판-->


    <!--    카테고리-->
    <insert id="createBoardCategory" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategory">
        insert into board_category(category_en_name, category_kr_name, board_en_name)
        values (#{categoryEnName}, #{categoryKrName}, #{boardEnName})
    </insert>

    <update id="updateBoardCategory" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategory">
        UPDATE board_category
        SET category_en_name = #{categoryEnName} category_kr_name = #{categoryKrName}
            is_active = #{isActive}
        where category_id = #{categoryId}
    </update>

    <!--    <select id="getBoardCategoryCodeList" resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategoryCode">-->
    <!--        select * from board_category_code-->
    <!--        <where>-->
    <!--            <if test="categoryId != null and categoryId != ''">-->
    <!--                AND category_id = #{categoryId}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->

    <select id="getBoardCategoryList" resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategory">
        select * from board_category
        <where>
            <!--            <if test="boardEnName != null and boardEnName != ''">-->
            <!--                AND board_en_name = #{boardEnName}-->
            <!--            </if>-->
        </where>
    </select>


    <select id="getBoardCategory" resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategory">
        select * from board_category
        <where>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="boardEnName != null and boardEnName != ''">
                AND board_en_name = #{boardEnName}
            </if>
        </where>
    </select>
    <!--    카테고리-->


    <!--    컨텐츠-->
    <insert id="addBoardContent" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        insert into board_content(board_en_name,title,content,thumbnail_img,category_code_id,writer_id,is_notice)
        values(#{boardEnName},#{title},#{content}, #{thumbnailImg},#{categoryCodeId},#{writerId},#{isNotice})
        <selectKey keyProperty="contentId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateBoardContent" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        UPDATE board_content
        SET title            = #{title},
            content          = #{content},
            category_code_id = #{categoryCodeId},
            is_notice        = #{isNotice}
        where content_id = #{contentId}
    </update>

    <update id="deleteBoardContent" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        UPDATE board_content
        SET status = 'D',
            where content_id = #{contentId}
    </update>

    <select id="getBoardContent" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        SELECT b.*, c.category_code_name
        from board_content b
                 left join board_category_code c
                           on c.category_code_id = b.category_code_id
        where content_id = #{contentId}
    </select>

    <update id="updateBoardContentCnt" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        UPDATE board_content
        set view_cnt = view_cnt + 1
        where content_id = #{contentId}
    </update>

    <select id="getBoardContentListCnt" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig"
            resultType="java.lang.Integer">
        SELECT count(*) FROM board_content AS a
        left join board_category_code AS b
        ON a.category_code_id = b.category_code_id
        left join users AS c
        ON a.writer_id = c.user_id
        <where>
            <if test="boardEnName != null and boardEnName != ''">
                AND a.board_en_name = #{boardEnName}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="categoryCodeId != null and categoryCodeId != ''">
                AND b.category_code_id = #{categoryCodeId}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND a.${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null">
                AND <![CDATA[date(reg_date) >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                AND <![CDATA[date(reg_date) <= #{endDate}]]>
            </if>
        </where>
    </select>

    <select id="getBoardContentList" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        select *
        from (
        select null as rownum, a.*, b.category_code_name, b.color, c.user_name
        FROM board_content AS a
        left join board_category_code AS b
        ON a.category_code_id = b.category_code_id
        left join users AS c
        ON a.writer_id = c.user_id
        <where>
               and is_notice = true
            <if test="boardEnName != null and boardEnName != ''">
                AND board_en_name = #{boardEnName}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="categoryCodeId != null and categoryCodeId != ''">
                AND b.category_code_id = #{categoryCodeId}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null">
                AND <![CDATA[date(reg_date) >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                AND <![CDATA[date(reg_date) <= #{endDate}]]>
            </if>
        </where>
        UNION ALL
        SELECT ROW_NUMBER() OVER (ORDER BY a.content_id) rownum,
        a.*,
        b.category_code_name,
        b.color,
        c.user_name
        FROM board_content AS a
        left join board_category_code AS b
        ON a.category_code_id = b.category_code_id
        left join users AS c
        ON a.writer_id = c.user_id
        <where>
            and is_notice = false
            <if test="boardEnName != null and boardEnName != ''">
                AND board_en_name = #{boardEnName}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="categoryCodeId != null and categoryCodeId != ''">
                AND b.category_code_id = #{categoryCodeId}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null">
                AND <![CDATA[date(reg_date) >= #{startDate}]]>
            </if>
            <if test="endDate != null">
                AND <![CDATA[date(reg_date) <= #{endDate}]]>
            </if>
        </where>
        order by content_id desc
        <if test="pageNo != null and pageNo !=-1 and pageNo != ''">
            limit #{startRowNo}, #{pageSize}
        </if>
        ) as m order by is_notice desc
    </select>

    <select id="getBoardContentPrev" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        SELECT * FROM board_content
        <where>
            AND board_en_name = #{boardEnName}
            and content_id in (
            select * from (
            <![CDATA[select content_id from board_content where content_id < #{contentId} order by content_id desc limit 1]]>
            ) as t
            );
        </where>
    </select>
    <select id="getBoardContentNext" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        SELECT * FROM board_content
        <where>
            AND board_en_name = #{boardEnName}
            and content_id in (
            select * from (
            <![CDATA[select content_id from board_content where content_id > #{contentId} order by content_id limit 1]]>
            ) as t
            );
        </where>
    </select>

    <!--    컨텐츠-->


    <select id="getBoardCategoryCodeList"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardCategoryCode">
        select * from board_category_code
        left join board_category
        on board_category_code.category_id = board_category.category_id
        <where>
            <if test="categoryId != null and categoryId != ''">
                AND board_category_code.category_id = #{categoryId}
            </if>
        </where>
    </select>


    <!--    댓글-->
    <insert id="addReply" parameterType="com.hanyang.startup.hanyangstartup.board.domain.Reply">
        insert into board_reply(content_id, parent_id, parent_reply_id, reply_content, reply_writer)
        values (#{contentId}, #{parentId}, #{parentReplyId}, #{replyContent}, #{replyWriter})
    </insert>

    <select id="getReplyList" parameterType="com.hanyang.startup.hanyangstartup.board.domain.Reply"
            resultType="com.hanyang.startup.hanyangstartup.board.domain.Reply">
        SELECT a.*, u.user_name, (select user_name from board_reply as r left join users on users.user_id =
        r.reply_writer where reply_id = a.parent_reply_id) as to_name
        FROM board_reply as a
        LEFT JOIN users as u
        on u.user_id = a.reply_writer
        <where>
            <if test="contentId != null and contentId != ''">
                AND content_id = #{contentId}
            </if>
        </where>
        ORDER BY IF(ISNULL(parent_id), reply_id, parent_id), parent_reply_id
    </select>

    <update id="updateReply" parameterType="com.hanyang.startup.hanyangstartup.board.domain.Reply">
        UPDATE board_reply
        SET reply_content = #{replyContent},
            reg_date      = now()
        WHERE reply_id = #{replyId}
          AND reply_writer = #{replyWriter}
    </update>

    <update id="deleteReply" parameterType="com.hanyang.startup.hanyangstartup.board.domain.Reply">
        UPDATE board_reply
        SET status = 'D'
        WHERE reply_id = #{replyId}
          AND reply_writer = #{replyWriter}
    </update>
    <!--    댓글-->


    <select id="getBoardContentTotalSearch"  resultType="com.hanyang.startup.hanyangstartup.board.domain.BoardContent">
        <![CDATA[
            SELECT * FROM (
            SELECT *, RANK() OVER (PARTITION BY c.board_en_name ORDER BY c.content_id DESC, c.content_id DESC) AS RN
            FROM board_content AS c
            ) AS t
            WHERE t.RN <= 5
        ]]>
    </select>


</mapper>
