<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mentoring">

    <select id="getCounselFieldCode" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselFiledCode">
        select * from counsel_field_code
    </select>

    <select id="getProgressItem" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.ProgressItem">
        select * from counsel_apply_form_progress_item
    </select>
    <select id="getSortationItem" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.SortationItem">
        select * from counsel_apply_form_sortation_item
    </select>
    <select id="getWayItem" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.WayItem">
        select * from counsel_apply_form_way_item
    </select>

    <select id="getMentorListCnt" parameterType="com.hanyang.startup.hanyangstartup.board.domain.BoardConfig" resultType="java.lang.Integer">
        select count(distinct(a.mentor_id)) from mentors as a
        left join users AS b
        ON a.user_id = b.user_id
        left join counsel_field_mentor AS c
        ON a.mentor_id = c.mentor_id
        <where>
            <if test="mentorFieldList!=null and mentorFieldList.size!=0">
                c.field_id IN
                <foreach collection="mentorFieldList" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="mentorStatus != null">
                AND mentor_status = #{mentorStatus}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND a.${searchField} like '%' #{searchValue} '%'
            </if>
        </where>
    </select>

    <select id="getMentor" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        SELECT *, mentor_career as mentor_career_str,mentor_keyword as mentor_keyword_str FROM mentors as m
        LEFT JOIN attach_file as a
        ON a.content_id = m.mentor_id and division = 'MENTOR_PROFILE_IMG' AND status = 'A'
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
            <if test="mentorId != null">
                AND mentor_id = #{mentorId}
            </if>
        </where>
    </select>

    <update id="updateMentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        UPDATE mentors
        <set>
            <if test="mentorStatus != null">
                mentor_status = #{mentorStatus},
            </if>
        </set>
        WHERE mentor_id = #{mentorId}
    </update>

    <select id="getMentorList" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        SELECT ROW_NUMBER() OVER (ORDER BY a.mentor_id) rownum, a.*,f.*, a.mentor_keyword as mentor_keyword_str,a.mentor_career as mentor_career_str, b.user_name FROM mentors AS a
        left join users AS b
        ON a.user_id = b.user_id
        left join counsel_field_mentor AS c
        ON a.mentor_id = c.mentor_id
        LEFT JOIN attach_file as f
        ON f.content_id = a.mentor_id and f.division = 'MENTOR_PROFILE_IMG' AND f.status = 'A'
        <where>
            <if test="mentorFieldList!=null and mentorFieldList.size!=0">
                c.field_id IN
                <foreach collection="mentorFieldList" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="mentorStatus != null">
                AND mentor_status = #{mentorStatus}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND a.${searchField} like '%' #{searchValue} '%'
            </if>
        </where>
        group by a.mentor_id
        order by a.mentor_id desc
        <if test="pageNo != null and pageNo !=-1 and pageNo != ''">
            limit #{startRowNo}, #{pageSize}
        </if>
    </select>

    <insert id="applyMentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        insert into mentors(user_id,mentor_introduction,mentor_career,mentor_name,mentor_company,mentor_phone_number,mentor_keyword,mentor_email,mentor_position)
        VALUES(#{userId},#{mentorIntroduction},#{mentorCareerStr},#{mentorName},#{mentorCompany},#{mentorPhoneNumber},#{mentorKeywordStr},#{mentorEmail},#{mentorPosition})

        <selectKey keyProperty="mentorId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateMentorProfile" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        UPDATE mentors
        <set>
            mentor_introduction = #{mentorIntroduction},
            mentor_career = #{mentorCareerStr},
            mentor_name = #{mentorName},
            mentor_company = #{mentorCompany},
            mentor_phone_number = #{mentorPhoneNumber},
            mentor_keyword = #{mentorKeywordStr},
            mentor_email = #{mentorEmail},
            mentor_position = #{mentorPosition},
            is_best = #{isBest},
        </set>
        <where>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>
        </where>
    </update>

    <select id="getCounselFieldMentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor" resultType="java.lang.Integer">
        select field_id from counsel_field_mentor
        <where>
            <if test="mentorId != null and mentorId != ''">
                AND mentor_id = #{mentorId}
            </if>
        </where>
    </select>

    <insert id="addCounselFieldMentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        insert into counsel_field_mentor(mentor_id,field_id)
        VALUES
        <foreach collection="mentorFieldList" item="field" separator=" , " >
            (#{mentorId}, #{field})
        </foreach>
    </insert>

    <delete id="removeCounselFieldMentor" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        delete from counsel_field_mentor
        <where>
            <if test="mentorId != null and mentorId != ''">
                AND mentor_id = #{mentorId}
            </if>
        </where>
    </delete>

    <insert id="applyCounsel" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm">
        insert into counsel_apply_form(user_id,title,content,form_progress_item,form_sortation_item,form_way_item,mentee_name,mentee_email,mentee_phone_number,hope_mentor)
        VALUES(#{userId},#{title},#{content},#{formProgressItem},#{formSortationItem},#{formWayItem},#{menteeName},#{menteeEmail},#{menteePhoneNumber},#{hopeMentor})
        <selectKey keyProperty="formId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addCounselFieldMentee" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.Mentor">
        insert into counsel_field_mentee(form_id,field_id)
        VALUES
        <foreach collection="counselFieldIdList" item="field" separator=" , " >
            (#{formId}, #{field})
        </foreach>
    </insert>

    <select id="getCounselApplyListCnt" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm" resultType="java.lang.Integer">
        SELECT count(*) FROM counsel_apply_form as a
        LEFT JOIN mentors as m
        on m.mentor_id = a.assign_mentor_id
        <where>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="mentorUserId != null and mentorUserId != ''">
                AND m.user_id = #{mentorUserId}
            </if>
        </where>
    </select>


    <select id="getCounselApply" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm">
        SELECT a.*,m.mentor_name, m.user_id as mentor_user_id, p.item as form_progress_item_name, s.item as form_sortation_item_name, w.item as form_way_item_name, d.answer, d.reg_date as answer_date, d.way as answer_way, d.score,d.diary_id as diaryId
        FROM counsel_apply_form as a
        left join counsel_apply_form_progress_item as p
        on p.item_id = a.form_progress_item
        left join counsel_apply_form_sortation_item as s
        on s.item_id = a.form_sortation_item
        left join counsel_apply_form_way_item as w
        on w.item_id = a.form_way_item
        left join mentors as m
        on m.mentor_id = a.hope_mentor
        OR m.mentor_id = a.assign_mentor_id
        left join mentoring_diary as d
        on d.form_id = a.form_id
        <where>
            <if test="formId != null and formId != ''">
                AND a.form_id = #{formId}
            </if>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="mentorUserId != null and mentorUserId != ''">
                AND m.user_id = #{mentorUserId}
            </if>
        </where>
        group by a.form_id
    </select>

    <update id="updateCounselApply" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm">
        UPDATE counsel_apply_form
        <set>
            <if test="applyStatus != null">
                apply_status = #{applyStatus},
            </if>
            <choose>

                <when test="assignMentorId != null and assignMentorId != ''">
                    assign_mentor_id = #{assignMentorId},
                </when>

                <otherwise>
                    assign_mentor_id = null,
                    apply_status = 'APPLY'
                </otherwise>

            </choose>
        </set>
        WHERE form_id = #{formId}
    </update>

    <update id="updateCounselApplyStatus" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm">
        UPDATE counsel_apply_form
        <set>
            apply_status = #{applyStatus},
            <if test="applyStatus.toString() == 'RETURN'">
                assign_mentor_id = null
            </if>
        </set>
        WHERE form_id = #{formId}
    </update>

    <select id="getCounselApplyList" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm">
        SELECT ROW_NUMBER() OVER (ORDER BY a.form_id) rownum, a.*,m.mentor_name,m.user_id as mentor_user_id from counsel_apply_form as a
        LEFT JOIN mentors as m
        on m.mentor_id = a.assign_mentor_id
        <where>
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="mentorUserId != null and mentorUserId != ''">
                AND m.user_id = #{mentorUserId}
            </if>
        </where>
        order by a.form_id desc
        <if test="pageNo != null and pageNo !=-1 and pageNo != ''">
            limit #{startRowNo}, #{pageSize}
        </if>
    </select>

    <select id="getCounselFieldMentee" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselApplyForm" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.CounselField">
        select * from counsel_field_mentee as c
        left join counsel_field_code as f
        on f.field_id = c.field_id
        <where>
            <if test="formId != null and formId != ''">
                AND form_id = #{formId}
            </if>
        </where>
    </select>


    <select id="getDiary" resultType="com.hanyang.startup.hanyangstartup.mentoring.domain.MentoringDiary">
        select * from mentoring_diary
        <where>
            <if test="formId != null and formId != ''">
                AND form_id = #{formId}
            </if>
            <if test="diaryId != null and diaryId != ''">
                AND diary_id = #{diaryId}
            </if>
            <if test="mentorId != null and mentorId != ''">
                AND mentor_id = #{mentorId}
            </if>
        </where>
    </select>

    <insert id="addDiary" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.MentoringDiary">
        insert into mentoring_diary(form_id,mentor_id,answer,way)
        VALUES(#{formId},#{mentorId},#{answer},#{way})

        <selectKey keyProperty="mentorId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateDiary" parameterType="com.hanyang.startup.hanyangstartup.mentoring.domain.MentoringDiary">
        UPDATE mentoring_diary
        <set>
            <if test="score != null">
                score = #{score},
            </if>
        </set>
        <where>
            <if test="formId != null and formId != ''">
                AND form_id = #{formId}
            </if>
            <if test="diaryId != null and diaryId != ''">
                AND diary_id = #{diaryId}
            </if>
        </where>
    </update>

</mapper>
