<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

    <update id="updateNoticeCnt" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        UPDATE notice set view_cnt = view_cnt + 1 where notice_id = #{noticeId}
    </update>

    <select id="getNotice" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice" resultType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        SELECT b.*, c.category_code_name from notice b
                                                  left join notice_category_code c
                                                            on c.category_code_id = b.category_code_id
        where notice_id = #{noticeId}
    </select>

    <insert id="addNotice" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        insert into notice(title,content,apply_start_date,apply_end_date,event_date,category_code_id,writer_id,is_notice,progress_status) values(#{title},#{content},#{applyStartDateStr},#{applyEndDateStr},#{eventDateStr},#{categoryCodeId},#{writerId},#{isNotice},#{progressStatus})
        <selectKey keyProperty="noticeId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateNotice" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        UPDATE notice SET
         title = #{title},
         content = #{content},
         category_code_id = #{categoryCodeId},
         is_notice = #{isNotice},
         progress_status = #{progressStatus},
        apply_start_date = #{applyStartDateStr},
        apply_end_date = #{applyEndDateStr},
        event_date = #{eventDateStr}
        where notice_id = #{noticeId}
    </update>

    <select id="getNoticePrev" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice" resultType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        SELECT * FROM notice
        <where>
            and notice_id in (
            select * from (
            <![CDATA[select notice_id from notice where notice_id < #{noticeId} order by notice_id desc limit 1]]>
            ) as t
            );
        </where>
    </select>
    <select id="getNoticeNext" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice" resultType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        SELECT * FROM notice
        <where>
            and notice_id in (
            select * from (
            <![CDATA[select notice_id from notice where notice_id > #{noticeId} order by notice_id limit 1]]>
            ) as t
            );
        </where>
    </select>

    <select id="getNoticeList" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice" resultType="com.hanyang.startup.hanyangstartup.notice.domain.Notice">
        SELECT ROW_NUMBER() OVER (ORDER BY a.notice_id) rownum, a.*, c.category_code_name from notice as a
        LEFT JOIN notice_category_code as c
        ON c.category_code_id = a.category_code_id
        <where>
            <if test="categoryCodeId != null and categoryCodeId != ''">
                AND a.category_code_id = #{categoryCodeId}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="date != null and date != ''">
                AND DATE_FORMAT(a.apply_start_date, '%Y-%m') = #{date}
                AND DATE_FORMAT(a.apply_end_date, '%Y-%m') = #{date}
                AND DATE_FORMAT(a.event_date, '%Y-%m') = #{date}
            </if>

            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                and a.event_date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        order by a.notice_id desc
        <if test="pageNo != null and pageNo !=-1 and pageNo != ''">
<!--         <if test="pageNo != null and pageNo !=-1 and pageNo != '' and startDate == null and endDate == null">-->
            limit #{startRowNo}, #{pageSize}
        </if>
    </select>

    <select id="getNoticeListCnt" parameterType="com.hanyang.startup.hanyangstartup.notice.domain.Notice" resultType="java.lang.Integer">
        SELECT count(*) from notice as a
        <where>
            <if test="categoryCodeId != null and categoryCodeId != ''">
                AND a.category_code_id = #{categoryCodeId}
            </if>
            <if test="searchField != null and searchField != '' and searchValue != null and searchValue != ''">
                AND ${searchField} like '%' #{searchValue} '%'
            </if>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                and a.event_date BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <select id="getNoticeCategoryCodeList" resultType="com.hanyang.startup.hanyangstartup.notice.domain.NoticeCategoryCode">
        SELECT * FROM notice_category_code
    </select>
</mapper>
